<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= favicon_link_tag('icon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <body class="min-h-screen flex flex-col m-0">
    <header class="bg-blue-300 p-4">
      <nav class="container mx-auto flex justify-between items-center">
        <%= link_to root_path do %>
          <%= image_tag 'icon.png', alt: 'Tokyu.rb', class: 'h-12' %>
        <% end %>
        <div class="flex items-center gap-4">
          <% if logged_in? && current_user.admin? %>
            <%= link_to '管理者ページ', admin_events_path,
            class: "text-white font-semibold hover:underline" %>
          <% end %>
          <% if logged_in? %>
            <%= button_to 'ログアウト', logout_path, method: :delete,
            class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" %>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="flex flex-col">
      <div class="container mx-auto mt-4 text-center px-4">
        <% if notice %>
          <p class="bg-green-100 text-green-700 p-4 rounded-md max-w-lg mx-auto"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="bg-orange-100 text-orange-700 p-4 rounded-md max-w-lg mx-auto"><%= alert %></p>
        <% end %>
      </div>
      <div class="container mx-auto mt-6 text-gray-700 px-4">
        <%= yield %>
      </div>
    </main>
    <footer class="mt-8 py-6 bg-gray-100 text-center text-xs text-gray-500">
      <div class="space-x-4">
        <%= link_to '利用規約', terms_path, class: 'hover:underline' %>
        <%= link_to 'プライバシーポリシー', privacy_path, class: 'hover:underline' %>
      </div>
    </footer>
  </body>
</html>
